.navigation-bar {
  border-bottom: 1px solid #ebf0ff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  .inner-navigation-bar {
    @include Flex;
    padding: 1rem;
    justify-content: space-between;
    max-width: 1126px;
    background-color: transparent;
    height: 72px;
    margin: 0 auto;
    color: $primary-text-color;
  }

  .navigation-link {
    color: $primary-text-color;
  }

  ul,
  .profile,
  .profile-container {
    @include Flex;
    gap: 30px;
  }

  .navigation-sign_in {
    color: $highlight-color;
  }

  .profile {
    * {
      cursor: pointer;
    }

    .notification-bell {
      background-color: #c4c4c4;
      width: 23px;
      aspect-ratio: 1;
      border-radius: 100%;
      @include Flex;
      justify-content: center;
      position: relative;
      cursor: pointer;
    }

    .notification-bell::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      background: #df0000;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
      left: 16px;
      top: 0px;
      z-index: 10;
    }
    .drop-down {
      color: $secondary-text-color;
      background: #f3f3f3;
      box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.15);
      border-radius: 5px;
      position: absolute;
      width: 255px;
      left: 50%;
      top: 220%;
      transform: translateX(-50%);
      bottom: 0px;
      line-height: 150%;
      min-height: 224px;
      opacity: 0;
      transition: all 350ms ease-in-out;
      z-index: -10;

      * {
        padding-block: 7px;
      }

      .notification-text {
        padding-inline: 12px;
        border-bottom: 1px solid #ebf0ff;
        transition: all 500ms ease-in;
        a {
          color: $primary-text-color;
        }
      }
      .notification-text:hover {
        background-color: $highlight-color;
      }

      .notification-text:last-child {
        cursor: pointer;
        color: $highlight-color;
        display: block;
        text-align: center;
        border: none;
      }
    }
    .drop-down__open {
      transition: all 350ms ease-in-out;
      opacity: 1;
      z-index: 10;
    }

    .drop-down::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 19.9px solid transparent;
      border-right: 19px solid transparent;
      border-bottom: 12px solid #f7f7f7;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
    }

    .navigation-user__image {
      width: 41px;
      aspect-ratio: 1;
      border: 3px solid #ffffff;
      filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.25));
      border-radius: 100%;
    }
    .notification-drop__icon {
      position: relative;
      .notification-text {
        border: none;
      }
      .notification-text:last-child {
        text-align: start;
      }
    }
  }
  .navigation-account {
    display: none;
  }

  .menu {
    display: none;

    // gap: 4px;
  }
  .first,
  .middle,
  .last {
    background-color: $highlight-color;
    height: 4px;
    border-radius: 50px;
    box-shadow: 0px 0.4px 0.8px rgba(255, 255, 255, 0.3);
    transition: all 500ms ease-in-out;
    width: 24px;
  }
  .menu-open .first {
    transform: translateY(7px) rotate(45deg);
  }
  .menu-open .middle {
    width: 0px;
  }
  .menu-open .last {
    transform: translateY(-7px) rotate(-45deg);
  }
  .mobile-navigation-logo {
    display: none;
  }
  .hide {
    display: none;
  }
}
@media (max-width: 768px) {
  .navigation-bar {
    position: relative;
    height: 71px;
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all 500ms ease-in-out;
      cursor: pointer;
      height: 18px;
      width: 24px;
      justify-content: space-between;
      position: fixed;
      right: 36px;
      top: 24px;
      z-index: 100;
    }
    .mobile-navigation-logo {
      display: block;
      position: fixed;
      left: 0px;
      top: 0px;
      z-index: 2;
      width: 100vw;
      padding: 16px 24px;
      border-bottom: 1px solid #ebf0ff;
      background-color: rgba(255, 255, 255, 0.93);
    }
    .navigation-logo {
      display: none;
    }
  }
  .navigation-bar .inner-navigation-bar {
    position: fixed;
    inset: 0;
    height: 100vh;
    flex-direction: column;

    align-items: center;
    transform: translateX(100%);
    padding: 40px;
    opacity: 0;
    transition: all 350ms;
    z-index: 10;
    background-color: $secondary-bg-color;
    .profile {
      display: none;
    }
    ul {
      display: flex;
      flex-direction: column;
      color: $secondary-text-color;
      font-size: 20px;
    }
    .navigation-account {
      display: block;
    }
  }
  .inner-navigation-bar[data-visible="true"] {
    transform: translateX(0%);
    opacity: 1;
  }
}
