.upload-h2{
   margin-left: 2.5rem
}

.upload-container-all{
   margin-left: 1.2rem;
      display: flex;
      width: 70%;
      max-width: 100px;
     justify-content:left;
     align-items: center;


}

.upload-sell-bcg{
   margin-top: -1.3rem;

}


.flex-all{
   display: flex;
   width: 100%;
}



@media screen and (max-width:900px) {
   .upload-container-all{
      flex-direction: column;
      margin-left: 9rem;
      text-align: center;
      justify-content: center;

      
   }

   
.upload-sell-bcg{
   margin-top: -1.3rem;
}

  
}
@media screen and (max-width:795px) {
   .upload-container-all{
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 0;
   }

   .upload-line{
      margin-right: -22%;
   }
}

@media screen and (max-width:700px) {
   .upload-container-all{
      flex-direction: column;
      justify-content: center;
      margin-left: 9rem;
   }

   .upload-line{
      margin-right: -16.5%;
   }
}

