.Coming__soon {
  overflow-x: hidden;
  background: #edf6fb;
  background-repeat: repeat-y;
  background-position: center -20px;
  * {
    color: #455980;
  }

  .navbar {
    .inner-navigation-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1152px;
      padding: 24px 20px;
    }
    ul {
      display: flex;
      gap: 64px;
      li {
        color: #17294d;
      }
    }
  }
  .Coming--soon__header {
    max-width: 1200px;
    padding-inline: 20px;
    margin: 0 0 0 auto;
    display: flex;
    .coming_header_text {
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin-block: 48px;
      h1 {
        width: 60%;
      }
      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      h2 {
        width: 60%;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;
      }
      .searchbar {
        display: flex;
        height: 48px;
        gap: 8px;

        input {
          width: max(25vw, 204px);
          background: #ffffff;
          /* Drop */

          box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.15);
          border-radius: 5px;
        }
        .btn {
          width: max(10.7vw, 100px);
          height: 100%;
          margin: 0;
          border-radius: 5px;
        }
      }
      .socials {
        * {
          margin-right: max(10%, 28px);
        }
      }
    }
    .coming_header_image {
      transform: translateX(-50px);
      position: relative;
    }
    .coming_header_image::before {
      content: "";
      position: absolute;
      width: 116px;
      height: 414.59px;
      right: 28px;
      top: 320px;
      background: linear-gradient(
        211.82deg,
        #f5fbff 68.5%,
        rgba(245, 251, 255, 0) 102.95%
      );
      filter: blur(22px);
      transform: rotate(-91.28deg);
    }
    .coming_header_image::after {
      content: "";
      width: max(42vw, 300px);
      // height: 100%;
      aspect-ratio: 1;
      border-radius: 100%;
      border: 100px solid #c2dcff;
      position: absolute;
      top: 0;
      left: 123px;
      z-index: -1;
    }
  }
  .countdown__section {
    max-width: 1264px;
    margin: 30px 0 0 auto;
    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      padding: 25px 64px;
    }
    h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      padding: 25px 64px;
    }

    .show-counter {
      font-size: 10px;
      width: fit-content;
      display: flex;
      text-align: center;
      align-items: center;
      gap: 12em;
      padding: 37px 64px;
      background: linear-gradient(
        359.17deg,
        #f5fbff 0.75%,
        rgba(245, 251, 255, 0) 50.02%
      );
      filter: drop-shadow(0px 5px 10px rgba(128, 128, 128, 0.15));
      border-radius: 8px;

      h1 {
        font-weight: 500;
        font-size: 16em;
        line-height: 188px;
      }
      p {
        font-weight: 600;
        font-size: 2.8em;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
  .image__section {
    width: 100vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .image__section2 {
    width: 100vw;
    position: relative;
  }
  .image__section2::before {
    content: "A More Convenient Approach To Conduct Real Estate Transactions";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #17294d;
    width: 100%;
  }
  .image__section2::after {
    content: "Renager will be launching with some exciting features";
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    width: 100%;

    color: #305d96;
  }
  .Coming__soon__cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-inline: 88px;

    .shadow-card-component {
      background: #fefefe;
      box-shadow: 0px 4px 16px rgba(128, 128, 128, 0.15);
      border: none;
      border-radius: 8px;
      width: max(67vw, 380px);
      .coming__soon__card {
        display: flex;
        align-items: center;
        padding-inline: 48px;
        gap: 120px;
        .card_text {
          * {
            margin-block: 32px;
            line-height: 1.5;
          }
        }
      }
    }
  }
  .shadow-card-component:nth-child(2),
  .shadow-card-component:nth-child(4) {
    align-self: flex-end;
  }
  .footer {
    padding-inline: 20px;
    background-color: #ffffff;
    margin: 71px 0 0 0;
    background-image: inherit;
    background-repeat: no-repeat;
    background-position: center;
    .footer-flex {
      height: 350px;
      max-width: 1200px;
      margin: 0 0 0 auto;
      padding-block-start: 48px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .footer_text {
        p {
          font-weight: 700;
          font-size: 24px;
          line-height: 48px;
        }
        h3 {
          font-weight: 700;
          font-size: 32px;
          line-height: 48px;
        }
        p,
        h3,
        .searchbar {
          padding-block: 16px;
        }
        .searchbar {
          display: flex;
          gap: 8px;
          margin-block-end: 80px;
          input {
            height: 48px;
            width: max(22vw, 204px);
            background: #f5fbff;
            box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.15);
            border-radius: 5px;
          }

          .btn {
            width: max(10.7vw, 100px);
            height: 48px;
            border-radius: 5px;
            margin: 0;
          }
        }
        .downloads {
          display: flex;
          align-items: center;
          gap: 92px;
          margin-top: 16px;
          div {
            display: flex;
            align-items: center;
            gap: 15px;
          }
          p {
            font-size: 16px;
            padding: 0;
          }
        }
      }
      .footer_flex_image {
        transform: translateY(-80px);
      }
    }
  }
  .footer_images {
    background-image: none;
    background-color: #fefefe;
    overflow-x: scroll;
    img {
      margin-top: 250px;
    }
    @media (max-width: 768px) {
      & {
      }
      img {
        margin: 0;
      }
    }
  }
  .menu {
    display: none;

    // gap: 4px;
  }
  .first,
  .middle,
  .last {
    background-color: #305d96;
    height: 4px;
    border-radius: 50px;
    box-shadow: 0px 0.4px 0.8px rgba(255, 255, 255, 0.3);
    transition: all 500ms ease-in-out;
    width: 24px;
  }
  .menu-open .first {
    transform: translateY(7px) rotate(45deg);
  }
  .menu-open .middle {
    width: 0px;
  }
  .menu-open .last {
    transform: translateY(-7px) rotate(-45deg);
  }
  .mobile-navigation-logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .Coming__soon {
    .navbar {
      position: relative;
      height: 71px;
      .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 500ms ease-in-out;
        cursor: pointer;
        height: 18px;
        width: 24px;
        justify-content: space-between;
        position: fixed;
        right: 36px;
        top: 24px;
        z-index: 100;
      }
      .mobile-navigation-logo {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 2;
        width: 100vw;
        padding: 16px 24px;
        border-bottom: 1px solid #ebf0ff;
        // background-color: rgba(255, 255, 255, 0.93);
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(24px);
      }
      .logo {
        display: none;
      }
      .inner-navigation-bar {
        position: fixed;
        inset: 0;
        height: 100vh;
        padding-block: 150px !important;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        padding: 40px;
        opacity: 0;
        transition: all 350ms;
        z-index: 10;
        background-color: #c2dcff;
        ul {
          height: 100%;
          display: flex;
          flex-direction: column;
          color: #ebf0ff;
          font-size: 20px;
          // gap: 10px;
          align-items: center;
          justify-content: center;
        }
      }
      .inner-navigation-bar[data-visible="true"] {
        transform: translateX(0%);
        opacity: 1;
      }
    }
    .Coming--soon__header {
      .coming_header_image {
        display: none;
      }
    }
    .countdown__section {
      .show-counter {
        font-size: 4px;
        padding: 30px 10px;
        margin: 0 auto;
        h1 {
          line-height: 0.6;
        }
      }

      p,
      h2 {
        padding: 10px 20px;
        font-size: 24px;
      }
    }
    .image__section2::before {
      font-size: 24px;
      font-weight: 400;
    }
    .Coming__soon__cards {
      padding: 0;
      .shadow-card-component {
        margin: 0 auto;
        // width: 380px;
        .coming__soon__card {
          flex-wrap: wrap;
          padding: 0;
          gap: 0;
          align-items: flex-start;
          img {
            width: 100%;
          }
          .card_text {
            * {
              margin-block: 12px;
            }
          }
        }
      }
    }
    .footer {
      .footer-flex {
        flex-direction: column;
        height: 100%;
        padding-bottom: 50px;
        .footer_text {
          .downloads {
            gap: 40px;
            flex-wrap: wrap;
          }
        }
        .footer_flex_image {
          transform: none;
        }
      }
    }
  }
}
