@mixin Constraints {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

@mixin Flex {
  display: flex;
  align-items: center;
}

@mixin Button($bg-color: $highlight-color) {
  margin: 0.5em 0;
  background-color: $bg-color;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: none;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

@mixin Container {
  width: 100%;
  padding: 1em;
  color: #333;
}

@mixin Shadow-Container {
  width: 100%;
  padding: 1em;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

@mixin Card {
  background-color: white;
  width: 100%;
  max-width: 100%;
  padding: 1em;
  color: #333;
}

@mixin Shadow-Card($bg-color) {
  background-color: $bg-color;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  width: 100%;
  // max-width: 100%;
  padding: 1em;
  color: #333;
}

@mixin Modal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

@mixin Modal-Container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  // height: 60%;
  background-color: #fff;
  border-radius: 5px;
  z-index: 9999;
  padding: 1em;
  color: black;

  @media (min-width: 411px) {
    width: 35% !important;
  }
  @media (max-width: 414px) {
    width: 70% !important;
  }
  @media (max-width: 586px) and (min-width: 414px) {
    width: 55% !important;
  }
}
