$primary-color: #64ff00;
$primary-text-color: #17294d;
$secondary-text-color: #455980;
$highlight-color: #4b5ffa;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5fbff;
$tert-bg-color: #ebf0ff;
$overlay-color: rgba(0, 0, 0, 0.5);

// Vincent_variable's
$imgColor: #c4c4c4c4;
$paraColor: #455980;
$paraStyle: 1.5rem auto;
$mainFont: 1.1rem;
$thickBlack: #000;
$plainWhite: #fff;
$specialInputBcg: #ebf0ff;
$linkColor: #4b5ffa;
$constant-weight: 600;
