.property-card-container {
    display: "flex";
}


//Property Card Design
.property-card {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 33%
}

.property-card-background {
    border-radius: 10px 10px 0px 0px;
    position: relative;

    .Card__Image {
        border-radius: 10px 10px 0px 0px;
        height: 100%;
    }

}

.property-card-bg-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}


.property-card-favourite__icon {
    position: absolute;
    right: 5px;
    top: 25px;
    color: #4b5ffa;
}


.property-card-next__icon {
    position: absolute;
    right: 3px;
    top: 53px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}


.property-card-prev__icon {
    position: absolute;
    left: 3px;
    top: 53px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.property-card___disc {
    color: white;
    font-size: 5px;
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span:nth-child(1) {
        margin: 0px 2px;
    }

    span:nth-child(2) {
        margin: 0px 2px;
    }

    span:nth-child(3) {
        margin: 0px 2px;
        font-size: 7px;
    }

    span:nth-child(4) {
        margin: 0px 2px;
    }

    span:nth-child(5) {
        margin: 0px 2px;
    }
}


.property-card-content {
    padding: 10px;
}

.property-card-category {
    display: flex;
    justify-content: space-between;
    color: #c4c4c4;
    font-size: 12px;
    border-bottom: 1.5px solid #eeeded;
    padding-bottom: 2px;
}

.property-card-cat__title {
    color: #17294e;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;

    span {
        font-weight: 500;
    }
}

.property-card__price {
    color: #4b5ffa;
    border-bottom: 1.5px solid #eeeded;
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 15px;
}


.property-card__desc {
    display: flex;
    color: #455980;
    font-size: 10px;
    padding-top: 10px;
    font-weight: 500;

    span {
        margin-left: 15px;
    }
}


@media (max-width: 768px) {
    .property-card {
        width: 100%;
        margin: 20px 0;
    }



    .property-card-favourite__icon {

        right: 5px;
        top: 40px;

    }


    .property-card-next__icon {

        right: 3px;
        top: 132px;

    }


    .property-card-prev__icon {

        left: 3px;
        top: 132px;

    }


}